# {{ ansible_managed }}
[Service.{{ openio_nfs_namespace }}-nfs-{{ openio_nfs_serviceid }}]
command=/bin/foo
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_nfs_namespace }},nfs,{{ openio_nfs_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
